body{
    margin: 0 auto;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    
}

.width100{
    width: 100%;
}

.blue{
    min-height: 600px;
    background-color: #21337C;
    position: relative;
}

.back{
    min-height: 600px;
    background-color: #21337C;
}

.white{
    color: white!important;
}

.dblue{
    background-color: #21337C;
    border-radius: 0;
    border: transparent;
    margin-top: 10px;
}

.margl{
    margin-left: 100px;
}

.border{
    width: 200px;
    min-height: inherit;
    background-color: #23A6F0;
    border: 10px;
    border-radius: 5px;
}

.border:hover{
    background-color: #23A6F0!important;
}

.i_white{
    background-color: white;
}

.black{
    background-color: #21337C!important;
}

.info{
    min-height: 200px;
    background-color: #21337C;
    margin-top: 100px;
}

.big{
    font-size: 50px;
}

.awhite{
    color: white;
}

.learn{
    width: 120px;
    min-height: 40px;
    border: 1px solid white;
    border-radius: 30px;
    display: flex;
    justify-content: center!important;
    align-items: center;
    margin-top: 20px;
}

.text-align{
    display: flex;
    justify-content: left;
}

.justify{
    display: flex;
    justify-content: center;
}

.inf{
    min-height: 200px;
    background-color: #21337C;
    margin-top: 70px;
    display: flex;
    justify-content: center!important;
    align-items: center;
}

.inf img{
    height: 300px!important;
}

.information{
    min-height: 200px;
    background-color: red;
}

.shade{
    position: relative;
    margin-top: 350px;
}

/* width */
::-webkit-scrollbar {
    width: 19px;
    background: rgb(49, 48, 48);
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(49, 48, 48);
    box-shadow: inset 0 0 5px rgb(111, 110, 110);
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.832);
    border-radius: 10px;
  }
  

.shadow{
    width: 100%;
    min-height: 200px;
    /* background-color: violet; */
    position: absolute;
    margin-top: 100px;;
    box-shadow: 2px 3px 14px -5px gray;
    font-family:  'Times New Roman';
}

.div1{
    min-height: 200px;
    float: left;
    background-color: white;
}

.div2{
    min-height: 200px;
    float: left;
    background-color: white;
}

.div{
    min-height: 200px;
    float: left;
    background-color: white;
    padding: 15px;
    box-sizing: border-box;
}

.red{
    color: red;
    margin-top: 10px;
}

.align{
    display: flex;
    justify-content: center;
}

.this{
    min-height: 600px;
    margin-top: 240px;
    /* background-color: pink; */
    margin-right: 150px;
}

.price{
    width: 100%;
    min-height: 600px;
    /* background-color: aquamarine; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px 20px;
    margin-top: 30px;
}

.picture{
    width: 23%;
    min-height: 200px;
    background-color: #FAFAFA;
    padding: 20px;
    line-height: 190%;
}

.picture img{
    width: 90%;
    height: 150px;
}

.image{
    width: 70%!important;
    height: 140px!important;
    margin-left: 7%!important;
    margin-top: 5px;
}


.img{
    width: 60%!important;
    height: 140px!important;
    margin-left: 16%!important;
    margin-top: 5px;
}

.green{
    color: green;
}

.cent{
    min-height: 300px;
    /* background-color: blueviolet; */
    margin-bottom: 80px;
    margin-top: 60px;
}

.float{
    float: left;
}

.life{
    width: 49%;
    min-height: 270px;
    background-color: #28D5E0;
    padding: 45px 35px;
    box-sizing: border-box;
}

.life img{
    width: 40%;
    height: 250px;
    margin-left: 150px;
    margin-top: -200px;
}  

.life h1{
    font-size: 45px;
}

.lif h1{
    font-size: 45px;
}

.whit{
    color: white;
}

.lif{
    width: 49%;
    min-height: 270px;
    background-color: #FFC727;
    padding: 70px  35px;
    margin-left: 2%;
    box-sizing: border-box;
}

.lif img{
    width: 40%;
    height: 200px;
    margin-left: 150px;
    margin-top: -150px;
}  

.index1{
    z-index: -1;
}

.header3{
    min-width: 1px;
    min-height: 100px;
    display: flex;
    align-items: center;
    position: relative;
}

.disk{
    min-height: 60px;
    display: flex;
    align-items: end;
    margin-left: -70px;
}

.kruq{
    width: 50px;
    min-height: 50px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 0 200px;
}

.marg-right{
    margin-right: 15px;
}

.krug{
    width: 50px;
    min-height: 50px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:  30px;
}

.nofloat{
    float: left;
}

.news{
    min-height: 700px;
    /* background-color: aquamarine; */
    display: flex;
    flex-wrap: wrap;
    gap: 25px 20px;
    margin-top: 120px;
    margin-bottom: 80px;
}

.product{
    width: 23%;
    min-height: 340px;
    /* background-color: blueviolet; */
}

.product img{
    width: 70%;
    height: 150px;
    margin-left: 15%;
    margin-bottom: 20%;
}   

.grid-item {
    display: none;
    /* Initially hide all items */
}

.active {
    display: block;
}

.cookies{
    min-height: 200px;
    /* background-color: #FFC727; */
    margin-bottom: 100px;
}

.cookie{
    width: 30%;
    margin-left: 6%;
    min-height: 200px;
    background-image: url(../img/cookie.jpg);
    background-size: cover;
    padding: 30px 20px;
}

.cook{
    width: 30%;
    min-height: 200px;
    margin: 0 1%;
    background-image: url(../img/cookie2.jpg);
    background-size: cover;
    padding: 30px 25px;
}

.cooki{
    width: 30%;
    min-height: 200px;
    background-image: url(../img/cookie3.jpg);
    background-size: cover;
    padding: 30px 25px;
}

.foot{
    min-height: 400px;
    background-color: #252B42;
    
}

.cwhite{
    color: white;

}

.bordradius{
    color: #23A6F0;
    margin-top: 55px;
    font-size: 25px;
}

.border_radius{
    color: #23A6F0;
    margin: 55px 0 0 25px;
    font-size: 25px;
}

.borderradius{
    color: #23A6F0;
    margin: 55px 50px 0 25px;
    font-size: 25px;
}

.hr{
    width: 200%;
    min-height: 2px;
    background-color: #3A3F54;
    margin: 50px 0 50px 0;
}

.h1{
    margin: 50px 0 0 0;
}

.cblue{
    background-color: #23A6F0;
}

.marginbottom{
    margin-bottom: 10px;
    padding: 20px 15px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .margl{
        margin-left: 0;
        margin-top: 20px;
    }

    .margleft{
        margin-left: 80px;
    }

    .bwhite{
        background-color: white;
    }

    .height{
        min-height: 100px!important;
        border-color: #ffffff!important;
    }

    .white{
        color: black!important;
    }

    .width0{
        display: none;
        background-color: transparent;
        color: transparent!important;
    }

    .big{
        font-size: 40px;
    }

    .text-align{
        display: flex;
        justify-content: center;
    }

    .disFlex{
        display: flex;
        justify-content: center;
    }

    .dblue{
        margin-top: 0
    }

    .shadow{
        margin-left: 8.33%;
        margin-top: 450px;
        width: 83.33%;
    }

    .div , .div2 , .div1{
        width: 100%;
    }

    .red{
        justify-self: center;

    }


    .div1{
        left: 0;
        bottom: 0px; 
    } 


    .blue{
        min-height: 1250px;
    }

    .this{
        margin-top: 300px;
    }
    
    .price{
        display: block;
    }

    .picture{
        width: 120%;
        margin-left: 50px;
        margin-bottom: 20px;
    }

    .picture img{
        width: 64%;
        margin-left: 18%;
        margin-bottom: 10px;
    }

    .image{
        width: 42%!important;
        margin-left: 29%!important;
        margin-bottom: 10px!important;
    }
    
    .img{
        width: 34%!important;
        margin-left: 33%!important;
        margin-bottom: 10px!important;
    }

    .marg-left{
        margin-left: 140px!important;
    }

    .marg{
        margin-left: 50px;
        font-size: 22px;
    }

    .life , .lif{
        width: 134%;
        position: relative;
        z-index: -2;
    }

    .disk{
        margin-left: 0;
    }

    

    .life{
        margin-top: 50px ;
        width: 100%;
    }

    .life img , .lif img{
        position: absolute;
        left: 80px;
    }

    .lif{
        margin: 15px 0 0 0;
        width: 100%;
    }

    .nofloat{
        float: none;
    }

    .product{
        width: 90%;
        margin-left: 22px;
    }

    .p{
        width: 90%;
    }

    .p img{
        width: 50%;
        margin-left: 25%;
        margin-bottom: 9%;
    }


    .product img{
        width: 50%;
        margin-left: 25%;
        margin-bottom: 9%;
    }

    .cooki , .cookie , .cook{
        width: 90%;
        margin: 2% 0 0 5%;
    }

    .text_left{
        text-align: left;
    }

    .hr{
        width: 0;
        min-height: 0px;
    }

    .border_radius , .borderradius , .bordradius{
        margin-top: 0;
        margin-bottom: 100px;
    }

    .marg-bottom{
        margin-bottom: 25px;
        padding: 0px;
    }

    .center{
        text-align: center;
    }

    .width35{
        width: 35%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}